## 01-july-2019
- Practice on Income Dataset
    - Define Fucntions the following data points
        - Combined Average Income of all states from 2005 to 2013
        - State with highest average income in the last three years
        - State with lowest average income from 2007 to 2010(inclusive)
        - Print the list of all states in the same line with average income less than California
        - Print the names of states based on descending order of income in the year 2009
        - State with the lowest recorded income from 2005 to 2013

In [12]:
#read csv file
filepath = 'DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)

incomedf = readCSVdata(filepath)

def getColumnIndex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            return i
def getRowIndex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][1] == rowkey:
            return i

In [13]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [14]:
# Average Income of all states from 2005 to 2013
def averageIncomeStates(df):
    tot = 0
    count = 0
    for i in range(len(df.values)):
        for j in range(2,len(df.columns)):
            tot = tot + df.values[i][j]
            count = count + 1
    return tot//count
averageIncomeStates(incomedf)

48876

In [15]:
# Print the list of all states in the same line with average income less than california

def averageIncomeOfState(df,state):
    stateindex = getRowIndex(df,state)
    return sum(df.values[stateindex][2:])//(len(df.columns)-2)

def statesList(df,state):
    d={}
    for i in range(len(df.values)):
        d[df.values[i][1]] = averageIncomeOfState(df,df.values[i][1])
    for item in d.items():
        if item[0] == state:
            income = item[1]
    for item in d.items():
        if item[1] < income:
            print(item[0],end=' ')
                

print('Alabama',averageIncomeOfState(incomedf,'Alabama'))
print('Alaska',averageIncomeOfState(incomedf,'Alaska'))
print('Arizona',averageIncomeOfState(incomedf,'Arizona'))
print('Arkansas',averageIncomeOfState(incomedf,'Arkansas'))
print('California',averageIncomeOfState(incomedf,'California'))
statesList(incomedf,'California')

Alabama 41126
Alaska 60106
Arizona 48967
Arkansas 38828
California 55350
Alabama Arizona Arkansas

In [16]:
# Print the names of states based on descending order or income in 2009
def descendingIncomeStates(df,year):
    yearindex = getColumnIndex(df,year)
    d = {}
    for i in range(len(df.values)):
        d[df.values[i][1]] = df.values[i][yearindex]
    incomes = sorted(d.values())
    new_d = {}
    for i in d:
        new_d[d[i]] = i
    for value in incomes:
        if value in new_d.keys():
            print(new_d[value],':',value)
    
lis=descendingIncomeStates(incomedf,'2009')

Arkansas : 36538
Alabama : 39980
Arizona : 45739
California : 56134
Alaska : 61604

In [17]:
# State with the lowest income recorded from 2005 to 2013
def lowestIncomeState(df,columnkey1,columnkey2):
    columnindex1 = getColumnIndex(df,columnkey1)
    columnindex2 = getColumnIndex(df,columnkey2)
    d = {}
    for i in range(len(df.values)):
        d[df.values[i][1]] = min(df.values[i][columnindex1:(columnindex2+1)])
    low = min(d.values())
    for item in d.items():
        if low == item[1]:
            return item[0]+':'+str(item[1])
lowestIncomeState(incomedf,'2005','2013')

'Arkansas:36538'

In [22]:
#state with higest avg income in last three years
def averageIncomeStates(df):
    tot = 0
    count = 0
    for i in range(len(df.values):
        for j in range(2,len(df.columns)):
            tot = tot + df.values[i][j]
            count = count + 1
    return tot//count
averageIncomeStates(incomedf)

SyntaxError: invalid syntax (<ipython-input-22-73cfee103aea>, line 5)