# Notebook Basics

# Markdown Basics
* **Bold**
* *Italic*
* ***IB***
* Normal Text
    * session1
    * session2


> 1. ordered list item element1
> 2. ordered list item element2
 
 
 - [ ] option 1
 - [ ] option 2
 - [x] option 3
 
 I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  
  I get 10 times more traffic from [Google][] than from
[Yahoo][] or [MSN][].

  [google]: http://google.com/        "Google"
  [yahoo]:  http://search.yahoo.com/  "Yahoo Search"
  [msn]:    http://search.msn.com/    "MSN Search"
  
  printf("hai markdown")
  
  https:/google.com
  
  https:/markdown
  
 
 [Jupyter logo](jupyterlogo.png)
 
 ![Jupyter logo](jupyterlogo.png)
 
 <img src="jupyterlogo.png"  style="float:left">

# Python Basics

Python version 3.7

- Scripting

- object oriented

- Functional

In [8]:
# Python Comments

print("good afternoon","!",end=" || ")#Basic output
print("Hello Python")

good afternoon ! || Hello Python

# Assignments

In [18]:
n1=123456#Single VRIABLE ASSIGNMENT

n2=n3=n4=n1#Multi varoable assignment

n3

n1

#Multi Variable assignment with different value

a,b,c=123,234,345
a
b
c#here only c prints because compiler takes one vaule with print.it we want to 3 vaules use print statement

print(a,b,c)

123 234 345

### Data Types && Conversens

- int
- float
- string
- double

In [62]:
type(a)
s1 ="Python"
print (type (s1))
 
f1=12.345
print(type(f1))

s=str(int(f1))
print(type(s))
print(float(str(int(f1))))

s1=12.2321 ** 99
print(s1)

12.2321 ** 999

<class 'str'>
<class 'float'>
<class 'str'>
12.0
4.598341950135241e+107

OverflowError: (34, 'Result too large')

# Arthimetic Oprators

- +
- -
- *
- /
- %
- **

In [20]:
n1

123456

In [40]:
n1 % 11  #we not stroing in any variable then also it is printing vaule in other languages it is not possible

n3 = n2 **123456

type(n3)
print (len(str(n3)))  # printed separately length and n3 is printed has last statement to compiler
n3

at0ms= 10 ** 82
print(len(str(atoms)))
type(str(atoms))
atoms

628578
83

10000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [32]:
n2 **12

12535637344887704516447688721417492690366247570114367492980736

In [31]:
len(str(n3))

62

# Conditionals

In [66]:
if atoms < 10 ** 9:
    print ("TRUE") #here true is string and it is bolean vaule (True)
else:
    print("FALSE") #indetation means adding one tab space to the upper line

FALSE

In [67]:
#check number is EVEn

n=123
if n % 2 ==0:
    print("even")
else:
    print("odd")

odd

In [2]:
#FInd the greatest of 3 numbers

n1 = input("emter the first number")        #the reason is for -50 is greater because it is taking has string not a integer.
n2 = input("emter the second number")       #in the string -50 is greater than -100 and -1
n3 = input("emter the third number")

if n1 > n2 and n1 > n3:
    print (n1,"is the gratest")
elif n2 > n3:
    print (n2,"is the greatest")
else:
    print(n3, "is the greatest")

emter the first number-1
emter the second number-100
emter the third number-50
-50 is the greatest

In [3]:
n1 = int(input("emter the first number"))    #here we are taken has integer means string is converted as inter 
n2 = int(input("emter the second number"))   #so it is now giving -1 is greater
n3 = int(input("emter the third number"))

if n1 > n2 and n1 > n3:
    print (n1,"is the gratest")
elif n2 > n3:
    print (n2,"is the greatest")
else:
    print(n3, "is the greatest")

emter the first number-1
emter the second number-100
emter the third number-50
-1 is the gratest

In [23]:
#check if the a year is leap year

year = int(input("enter year"))
print(year)
if year % 400 ==0:
    print("leap year")
elif year % 100 !=0:
    if year % 4 ==0:
        print ("leap year")
    else:
        print("not leap year")
else:
    print("not leap year")

enter year2017
2017
not leap year

In [25]:
#check if the a year is leap year
year = int(input("enter year"))
if year % 400 == 0 or (year % 100 != 100 and year % 4 ==0):
    print("leap year")
else:
    print("not leap year")

enter year2019
not leap year

In [3]:
#check the number is factor of 100

n = int(input ("enter the number"))

if 100 % n == 0:
    print("it is factor of 100and that is "+str(n))
else:
    print ("it is not a factor of 100 and that is"+str(n))

enter the number23
it is not a factor of 100 and that is23

In [6]:

#check the number of digits in a number

num = input ( "enter number")
print ("number of digits of a number are "+" "+str(len(num)))

enter number234
number of digits of a number are  3

In [ ]:
#check if a number exits in a given range

n1 = 123
lb =50
ub = 150

In [16]:
#check if a given string is equal to a number

num = int(input ("enter number")) #here it is checking equality of string and int after converting num to string
number = str(num)                  #Because comparision done to same data type other wise it will gives error
string = (input ("enter string"))
if number == string:
    print ("equal")
else:
    print ("not equal")

enter number1234
enter stringstring
not equal

In [ ]:
#check if a given string is equal to a number

number= int(input ("enter number")) #here it is checking equlance of two strings
string = (input ("enter string"))
if number == string:
    print ("equal")
else:
    print ("not equal")

In [22]:
#calculate the squre root of the nubmer without functions

num = int(input ("enter number"))    # ** is exponitial
                                     #* is multiplication
squreroot = num**0.5
print ("squre root of number is"+str(squreroot))

enter number49
squre root of number is7.0

In [20]:
#calculate the number of digits in a number

n = int(input("enter number"))
print (len(str(n)))

enter number34
2

In [27]:
#Calculate the number exits in a range or not

n = 120
lb = 125
ub = 130
if n >= lb and n <= ub:
    print ("no exits in a range")
else:
    print ("no not exits in a range")

no not exits in a range

In [3]:
#check a number is multipule of 10

n=int(input("enter the number"))

if n % 10 == 0:
    print("it is multiple of 10 and number is",n)
else:
    print ("it is not a factor of 100")

enter the number50
it is multiple of 10 and number is 50

In [31]:
#to calculate the no of nano seconds in a given year
#Consider if it is leap year

year = 2016

if year % 400 == 0 or  ( year % 100 !=0 and year % 4 == 0):
    print (366*24*60*60*10**9)
    
else:
    print (365*24*60*60*10**9)

31622400000000000