In [1]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [8]:
a=1.23333333333333333333333333333333333232
a
b=str(a)
len(b)
b

'1.2333333333333334'

In [19]:
n[0],n[1]=input().split()
a=input().split()
print(a)

5 3
1 2 3 4 5
['1', '2', '3', '4', '5']

In [27]:
#PLAY WITH NUMBERS IN HACKER EARTH TIME EXCEEDED ERROR SIMPLE TEST CASES PASSED.16 SECS
#TO EXCEUTE THE PROGRAM BUT HACKEREARTH TIME IS 3 SECS
n=input().split()
a=input().split()
sum=0
count=0
for i in range(0,int(n[1])):
    sum=0
    count=0
    q=input().split()
    for j in range(int(q[0])-1,int(q[1])):
        sum=sum+int(a[j])
        count=count+1
    print(sum//count)

5 3
1 2 3 4 5
1 3
2
2 4
3
2 4
3

In [26]:
14//4

3

In [5]:
l="mahesh"  #for substring it is ony works for 1 to some number
s,e=map(int,input().split())
print(l[e-1::-1]+l[e::])
print(l[s::-1])

1 3
hamesh
am

In [7]:
l="Mahesh"
s,e=map(int,input().split())
if s==1:
    print(l[e-1::-1]+l[e:])
else:
    print(l[:s-1]+l[e-1:s-2:-1]+l[e:])

3 5
Masehh

### create a fuction to check first and last characters of given string are capital or not

In [7]:
string="GangA"
if string[0].isupper() and string[len(string)-1].isupper():
    print(True)
else:
    print(False)

True

In [12]:
def capital(string):
    if string[0].isupper() and string[len(string)-1].isupper():
        return True
    else:
        return False


string="GangA"
capital(string)

True

- str.islower()

- str.isupper()

In [15]:
name="ganga"
print(name.isupper())
print(name.islower())
print(name)

False
True
ganga

In [16]:
name="python _ ganga"
name.isupper()

False

In [18]:
name="ganga/ganga"
name.islower()

True

In [19]:
name="ganga/ganga"
name.islower()

True

In [20]:
name="GANGA/GANGA"
name.islower()

False

In [17]:
name.islower()

True

- IS DIGIT()

In [24]:
num="anga123g"
num.isdigit()

False

In [25]:
num="gang%"
num.isdigit()

False

In [23]:
N="1234 1234"
N.isdigit()

False

- isalpha

In [26]:
name="ganga"
name.isalpha()

True

In [27]:
name="ganga vara"
name.isalpha()

False

In [28]:
name="ganga112"
name.isalpha()

False

##### create fuciton to identiry the number or alphabets or others

In [33]:
def identify(name):
    if name.isalpha()==True:
        return "name"
    elif name.isdigit()==True:
            return "numbers"
    else:
        return "others"

name="123"
identify(name)

'numbers'

In [34]:
print(identify("ganga"))
print(identify("ganga123"))
print(identify ("1234"))

name
others
numbers

- str.split()

In [35]:
name="ganga varalakshmi"
name.split()

['ganga', 'varalakshmi']

In [36]:
name="ganga engineering graduate. she want to become ias"
name.split()

['ganga', 'engineering', 'graduate.', 'she', 'want', 'to', 'become', 'ias']

In [38]:
name="ganga_engineering graduate._she want to become ias"
name.split("_")

['ganga', 'engineering graduate.', 'she want to become ias']

In [39]:
name="ganga engineering graduate. she want to become ias"
n=name.split()
n[0]

'ganga'

In [40]:
name="ganga engineering graduate. she want to become ias"
n=name.split()
for i in n:
    print(i)

ganga
engineering
graduate.
she
want
to
become
ias

In [41]:
name="pythin programming"
name.split("g")

['pythin pro', 'rammin', '']

str.istrip()

In [42]:
name='     python programming   '
print('original length',len(name))
result=name.lstrip()
print(result,len(result))

original length 26
python programming    21

In [43]:
name='     python programming   '
print('original length',len(name))
result=name.rstrip()
print(result,len(result))

original length 26
     python programming 23

In [44]:
name='     python programming   '
print('original length',len(name))
result=name.strip()
print(result,len(result))

original length 26
python programming 18

##### take the vaules from the user gives o and find  and print the minimum and maximum and sum of numbers in a given vaules

In [4]:
num=[]
char=[]
sum=0
while(True):
    n1=input()
    if n1=='0':
        break
    if (n1.isdigit()==True):
        num.append(n1)
        for i in n1:
            sum=sum+int(i)
            print(sum)
    if (n1.isalpha()==True):
        char.append(n1)
        print(char)

1
1
2
3
31
6
7
23
9
12
4
16
41
20
21
"ganga"
0

In [2]:
#by sir
numbers=[]
while True:
    data=input()
    if data =='0':
        numbers.append(0)
        break
    if data.isdigit():
        numbers.append(int(data))
print(numbers)
#print(min(numbers),max(numbers))
#print("sum",sum(numbers))
print("minimum",min(numbers),"maximum",max(numbers),"sum",sum(numbers))

ganga
naga
4
21
45
0
[4, 21, 45, 0]
minimum 0 maximum 45 sum 70

In [ ]:
num=[]
cha=[]
sum=0
n=input()
if n==0:
    print("exit")
else:
    while(True):
        n1=input()
        if (n1.isdigit()==True):
            num.append(n)
            for i in n1:
                sum=sum+int(i)
            print(sum)
        elif (n1.isalpha()==True):
            char.append(n)
            print(char)

0
"sai"
"ram"
10
1
$ravya
20
3
5
8
0
8

### str.startswith(sub_string)

In [3]:
name="ayyappa"
print(name.startswith('a'))

True

In [4]:
name="Ayyappa"
print(name.startswith("a"))

False

### str.endswith()

In [5]:
name="ganga"
print(name.endswith("ga"))

True

In [6]:
name="ganga"
print(name.endswith("gA"))

False

### str.swapcase()

In [7]:
name="gaNGA"
print(name.swapcase())

GAnga

### str.title()

In [8]:
name="python programing"
print(name.title())

Python Programing

In [9]:
name="python prograMMing"
print(name.title())

Python Programming

In [10]:
name="pythonprograMMing"
print(name.title())

Pythonprogramming

### str.istitle()

In [11]:
name="GANGA"
c=name.title()
c.istitle()

True

In [12]:
name="GanH"
name.istitle()

False

In [14]:
name="Ganga"
name.istitle()

True

#### str.join(sequence_or_collection of items)

In [15]:
name=["s","a","n","t","h","o","s","h"]
"@".join(name)

's@a@n@t@h@o@s@h'

In [22]:
name='g a n g a'
c=name.split()
print(''.join(c))

ganga

In [47]:
students=[("sai","10,20,30,40"),("lakshmi","30,40,50,30")]
m=[]
n=[]
for i in students:
    m.append(i[1])
    n.append(i[0])
for j in m:

10,20,30,40
30,40,50,30

In [46]:
students=[("sai","10,20,30,40"),("lakshmi","30,40,50,30")]#by sir

for student in students:
    name=student[0]
    marks_string=student[1]
    list_string=marks_string.split(',')
    totalmarks=0
    for subject_marks in list_string:
        totalmarks=totalmarks+int(subject_marks)
    print(name,totalmarks)

sai 100
lakshmi 150

In [58]:
paragraph='xys abc mnp "asdf dfaa asdf" fdas asdsdaff'
c=paragraph.split()
for i in c:
    if i.isalpha():
        print(i)

xys
abc
mnp
dfaa
fdas
asdsdaff

#### print the names  that is not ending with i and u

In [69]:
names=["ganga","laksmi","vara",]
for name in names:
    if not (name.endswith("i")or(name.endswith("u"))):
        print(name)

ganga
vara

In [62]:
paragraph='xys abc mnp "asdf dfaa asdf" fdas asdsdaff'
sentence=paragraph.split('"')
for sentence in sentence:
    if len(sentence)>0:
        if sentence.endswith(' '):
            for word in sentence.split():
                print(word)
        else:
            print('"'+sentence+'"')

xys
abc
mnp
"asdf dfaa asdf"
" fdas asdsdaff"

### string slicing

In [4]:
name="python programming"

In [5]:
result = name[7:18]
print(result)

programming

In [7]:
name1="hai python"

In [8]:
c=name1[0:4]
print(c)

hai

In [9]:
print(name[10:14])

gram

In [10]:
print(name[0:10:3])

ph o

In [13]:
name="python"
for char in name:
    print(char)
    print(name)

p
python
y
python
t
python
h
python
o
python
n
python

### Tuples

In [14]:
mytuple=(1,2,3,4)
print(len(mytuple))

4

In [15]:
print(mytuple[0])

1

In [16]:
print(mytuple[len(mytuple)-1])

4

In [17]:
mytuple[0]=4

TypeError: 'tuple' object does not support item assignment

### tuple.count(item)

In [18]:
mytuple.count(4)

1

In [19]:
mytuple.count(10)

0

### tuple.index(item)

In [20]:
mytuple.index(4)

3

In [21]:
mytuple.index(10)

ValueError: tuple.index(x): x not in tuple

In [22]:
min(mytuple)

1

In [23]:
max(mytuple)

4

In [24]:
mytuple[0:3]

(1, 2, 3)

In [32]:
t=()
t1=(1,2,3)
t=t+t1
t

(1, 2, 3)

In [25]:
mytuple=(1,3,4,1,3,4)
mytuple.index(2,3)

ValueError: tuple.index(x): x not in tuple

In [26]:
mytuple=(1,3,4,1,3,4)
mytuple.index(2,100)

ValueError: tuple.index(x): x not in tuple

In [27]:
mytuple=(1,3,4,1,3,4)
mytuple.index(3,3)

4

In [28]:
mytuple=(1,2,3,"4","5")
for each in mytuple:
    print(each,type(each))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'str'>
5 <class 'str'>

In [36]:
m=["g","a","n","g","a"]
m.reverse()
m

['a', 'g', 'n', 'a', 'g']

In [50]:
rollno="13A85a25h32"#sum of digits
l=[]
a=[]
total=0
for i in rollno:
    if i.isdigit():
        l.append(i)
        total=total+int(i)
    if i.isalpha():
        a.append(i)
print(l)
print(total)
print(a)

['1', '3', '8', '5', '2', '5', '3', '2']
29
['A', 'a', 'h']

In [52]:
#sum of digits
tot=0
for i in rollno:
    if i.isdigit():
        tot=tot+int(i)
print(tot)

29

In [64]:
#reverse the string with out [::-1]

a="ganga"
s=""
for i in range(len(a)-1,-1,-1):
    s=s+a[i]
print(s)

agnag

In [15]:
#print the names which has duplicats characters
"ramu ravi akash"
n="ramu ravi akash"
n1=n.split()
for i in n1:
    c=0
    for j in i:
        c=i.count(j)
        if c==2:
            print(i)

akash
akash

In [11]:
#"1+2+3+4"
n="1+2+3+4"
n1=n.split("+")
#print(n1)
c=0
for i in n1:
    c=c+int(i)
print(c)
    #print(sum(int(i)))

10

In [ ]:
#count numbers
T = int (input ())
l=[]
for i in range(0,T):
    N=int(input())
    for k in range(0,N):
        s=input()
        for j in s:
            if j.isdigit():
                l.append(j)
        print(l)

In [6]:
T=int(input())
e=[]
for i in range(0,T):
    N=int(input())
    s=input()
    w=input()
    s1=s.split()
    for i in s1:
        l=""
        for j in i:
            if j.isupper():
                l=l+j
        e.append(l)
print(e)
for k in e:
    if k==w:
        print(True)
    else:
        print(False)

2
8
Hi Hello HelloWorld HiTech HiGeek HiTechWorld HiTechCity HiTechLab
HA
3
WelcomeGeek WelcomeToGeeksForGeek GeeksForGeek
WTG
['H', 'H', 'HW', 'HT', 'HG', 'HTW', 'HTC', 'HTL', 'WG', 'WTGFG', 'GFG']
False
False
False
False
False
False
False
False
False
False
False

In [10]:
#probelem tuples

s="aaabbcc"
uni=""
for i in s:
    if i not in uni:
        uni+=i
l=[]
for i in uni:
    c=s.count(i)
    l.append((c,i))
print(l)

[(3, 'a'), (2, 'b'), (2, 'c')]

In [17]:
n=input()
l=list(map(int,input().split()))
print(n[l[1]-1:l[0]+1:-1])

Mahesh
1 3

### Dictionary

In [18]:
students={1:"name",2:"branch"}
print(students)

{1: 'name', 2: 'branch'}

In [20]:
print(type(students))

<class 'dict'>

In [21]:
type(students)

dict

In [23]:
min(students)

1

In [24]:
max(students)

2

In [25]:
students={"name":"name","branch":"branch"}
print(students)

{'name': 'name', 'branch': 'branch'}

In [26]:
min(students)

'branch'

In [27]:
max(students)

'name'

### mebership operarors

- in 
- not in

In [29]:
"branch" in students

True

In [30]:
"place" not in students

True

In [31]:
dir(dict) #_ ee attributes

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [33]:
student2=students### one dict two refereences
student2

{'name': 'name', 'branch': 'branch'}

In [36]:
student2["name"]="ganga"
student2

{'name': 'ganga', 'branch': 'branch'}

In [37]:
students

{'name': 'ganga', 'branch': 'branch'}

In [41]:
student2=students.copy()
student2

{'name': 'ramya', 'branch': 'branch'}

In [39]:
students["name"]="ramya"
students

{'name': 'ramya', 'branch': 'branch'}

In [40]:
student2

{'name': 'ganga', 'branch': 'branch'}

In [42]:
students=student2.copy()
student2

{'name': 'ramya', 'branch': 'branch'}

In [43]:
student2["branch"]="ece"
student2

{'name': 'ramya', 'branch': 'ece'}

In [44]:
students

{'name': 'ramya', 'branch': 'branch'}

In [45]:
students.keys()

dict_keys(['name', 'branch'])

In [47]:
students.values()

dict_values(['ramya', 'branch'])

In [48]:
students.items()

dict_items([('name', 'ramya'), ('branch', 'branch')])

In [49]:
print(student2.items())

dict_items([('name', 'ramya'), ('branch', 'ece')])

In [51]:
dict.fromkeys(range(3))

{0: None, 1: None, 2: None}

In [55]:
dict.fromkeys(range(3),3)

{0: 3, 1: 3, 2: 3}

In [57]:
d={}
d

{}

In [59]:
###vaild keys
{0:1,1:2}#integrs vaild keys

{0: 1, 1: 2}

In [60]:
{"name":1,"name2":2}# stings also vaild keys

{'name': 1, 'name2': 2}

In [62]:
{[1,2,3]:2}  #list is mutable but dictonary keys are immutable so not accepted

TypeError: unhashable type: 'list'

In [63]:
{(1,2,3):2}# tules are accpted because tupels are immutable.

{(1, 2, 3): 2}

In [65]:
students.get("name")

'ramya'

In [66]:
students.get("branch")

'branch'

In [70]:
print(students.get("place")) #none prints when print is there.

None

In [72]:
print(students.get("place","absent"))#place is not added just gets some only.

absent

In [73]:
students

{'name': 'ramya', 'branch': 'branch'}

In [75]:
students["branch"]="MPCS"
students

{'name': 'ramya', 'branch': 'MPCS'}

In [78]:
del student2("branch")
student2

SyntaxError: can't delete function call (<ipython-input-78-db52db522fb6>, line 1)

### dict.pop(key)

In [80]:
student2.pop("name")

'ramya'

In [83]:
student2

{}

In [85]:
student2["branch"]="ece"
student2

{'branch': 'ece'}

In [86]:
student2.pop("branch")

'ece'

In [88]:
student2

{}

In [90]:
student2={1:"ganag",2:"ganga"}
student2

{1: 'ganag', 2: 'ganga'}

In [91]:
student2.pop()

TypeError: pop expected at least 1 arguments, got 0

In [92]:
l=[1,2,4]
l.pop()

4

In [94]:
l.pop(0)

1

In [95]:
l

[2]

In [96]:
student2.get(1,"ganga")

'ganag'

In [97]:
student2

{1: 'ganag', 2: 'ganga'}

In [98]:
student2.setdefault(3,"lakshmi")

'lakshmi'

In [100]:
student2 #setdefault add the key in dictionary

{1: 'ganag', 2: 'ganga', 3: 'lakshmi'}

In [101]:
student2["place"]="kakinda"  # this is also way to add the  key and vaule in dictioary
student2

{1: 'ganag', 2: 'ganga', 3: 'lakshmi', 'place': 'kakinda'}

In [102]:
students

{'name': 'ramya', 'branch': 'MPCS'}

In [106]:
students=student2
students

{1: 'ganag', 2: 'ganga', 3: 'lakshmi', 'place': 'kakinda'}

In [107]:
student2

{1: 'ganag', 2: 'ganga', 3: 'lakshmi', 'place': 'kakinda'}

In [109]:
 s="hello world"
s

'hello world'

In [113]:
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [111]:
freq={}   ###But it takes the large time to run and when you run large programes it gives the 
for char in s:####time out error
    freq[char]=s.count(i)
print(freq)

{'h': 1, 'e': 1, 'l': 1, 'o': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
freq={}
for char  in s:
    freq[char]=freq.get(char,0)+1
    #dictonary[key]=

#### find the frequency of each character from a to z in a

In [118]:
ord("a")

97

In [120]:
chr(97)

'a'

In [122]:
s="hello world"l=[]  #count the elements by using the  dictionary.

l=[]
for i in range(97,123):
    l.append(chr(i))
d={}
for j in l:
    d[j]=s.count(j)
print(d)

{'a': 0, 'b': 0, 'c': 0, 'd': 1, 'e': 1, 'f': 0, 'g': 0, 'h': 1, 'i': 0, 'j': 0, 'k': 0, 'l': 3, 'm': 0, 'n': 0, 'o': 2, 'p': 0, 'q': 0, 'r': 1, 's': 0, 't': 0, 'u': 0, 'v': 0, 'w': 1, 'x': 0, 'y': 0, 'z': 0}

In [181]:
s="hello world"   #count the number of elememts and gives the count of that elements including 
l=[]               #the a-z
for i in range(97,123):
    l.append(chr(i))
d={}
for j in l:
    if j not in d:
        d[j]=0
for k in s:
    if k in d:
        d[k]=d[k]+1
print(d)

{'a': 0, 'b': 0, 'c': 0, 'd': 1, 'e': 1, 'f': 0, 'g': 0, 'h': 1, 'i': 0, 'j': 0, 'k': 0, 'l': 3, 'm': 0, 'n': 0, 'o': 2, 'p': 0, 'q': 0, 'r': 1, 's': 0, 't': 0, 'u': 0, 'v': 0, 'w': 1, 'x': 0, 'y': 0, 'z': 0}

In [ ]:
# third method to print count of elemnts in a string.

#### who is lucky person ?

In [256]:
s=["sai","ram","raju","ganga"]
d={}
a=[]
for i in s:
    tot=0
    for j in i:
        tot=tot+(ord(j))
    a.append(str(tot))
# print(a)
lu1=[]
for k in a:
    lu=0
    for l in k:
        lu=lu+int(l)
    lu1.append(str(lu))
#print(lu1)
lu2=[]
for w in lu1:
    summ=0
    for z in w:
        summ=summ+int(z)
    lu2.append(str(summ))
#print(lu2)
d={}
for name in range(0,len(lu2)):
        d[s[name]]=lu2[name]
print(d)
minimum=min(d.values())
for j in (d.items()):
    if j[1]==minimum:
        print("lucky persons are:",j[0],j[1])

{'sai': '2', 'ram': '5', 'raju': '2', 'ganga': '6'}
lucky persons are: sai 2
lucky persons are: raju 2

In [221]:
print(ord('g'))
print(ord("a"))
print(ord("n"))

103
97
110

In [222]:
103+103+97+97+110

510

In [240]:
d={1:314}
len(d)

SyntaxError: invalid syntax (<ipython-input-240-15021405961a>, line 2)

In [ ]:
# by sir
names=['sai','ravi','raju','ganga']
def asciiSum(name):
    return str()

### files in python
- to store the digital inforamation
- To work with files in python manily 3 steps

In [259]:
fh=open('book.txt','r')#open( 2 arrguments) (filename,mode operation)
 
data = fh.read()

print(data)

fh.close()

line 1
line 2
line 3
line 5
line 4

In [261]:
fh=open('book2.txt','r')#open( 2 arrguments) (filename,mode operation)
 
data = fh.read()

print(data)

fh.close()

FileNotFoundError: [Errno 2] No such file or directory: 'book2.txt'

### write (sting)

In [263]:
fh=open("book2.txt",'w')

data="hi hello"
fh.write(data)

fh.close()

In [264]:
fh=open("book2.txt",'w')

data="who are you"
fh.write(data)

fh.close()

In [265]:
fh=open('book2.txt','a')

data="hiii everyone"
fh.write(data)
fh.close()

In [266]:
fh=open('book3.txt','a')

data="hiii everyone"
fh.write(data)
fh.close()

In [267]:
fh = open("book.txt",'r')

for each in fh:
    print(each)
    
fh.close()

line 1

line 2

line 3

line 5

line 4

In [5]:
fh = open("book.txt",'r')
count=0
for each in fh:
    count=count+1
    print(count,each)
    
fh.close()

1 line 1

2 line 2

3 line 3

4 line 5

5 line 4

In [6]:
fh = open("book.txt",'r')
count=0
for each in fh:
    count=count+1
    if count==3:
        print(count,each)
    
fh.close()

3 line 3

In [7]:
fh=open("book.txt",'r')

data=fh.read()
print(data)

fh.close()

name  eng phy maths
sai   80  70  60
ravi  70  60  70
raju  60  60  60

###### write the content form book.txt to output.txt using python file concept

In [10]:
fh=open("book.txt","r")### by me
fl=open("output.txt",'w')
data=fh.read()
fl.write(data)
fh.close()
fl.close()

In [13]:
#reading data from book.txt  #by sir
fh = open('book.txt','r')
data=fh.read()
fh.close()

#writing data from file
fl=open("output.txt",'w')
fl.write(data)
fl.close()

In [50]:
fh = open('book.txt','r')
fl=open("output.txt",'w')
for Line in fh:
    data=Line.split()[0]+"\n"
    fl.write(data)
fh.close()
fl.close()

In [83]:
fh = open('book.txt','r')
fl=open('output.txt','w')
count=0
for Line in fh:
    count=count+1
    if count==1:
        continue
    name=Line.split()[0] 
    marks=sum(list(map(int,Line.split()[1:])))
    fl.write(name+' '+str(marks)+"\n")
fh.close()
fl.close()

In [97]:
fh=open('book.txt','r')
fl=open('output.txt','w')
data=fh.read()
fl.write(data)
fl.close()
fl=open('output.txt','a')
count=0
for Line in fh:
    count=count+1
    if count==1:
        continue
    marks=sum(list(map(int,Line.split()[1:])))
    fl.write("total"+str(marks)+"\n")
fl.close()
fh.close()

In [100]:
(9.3+8.7)/2

9.0

In [1]:
fh_i=open('book.txt','r')
fh_o=open("output.txt",'w')
count=0
for Line in fh_i:
    count+=1
    if count==1:
        fh_o.write(Line.strip()+'\ttotal')
    else:
        marks = sum (list (map(int,Line.split()[1:])))
        fh_o.write('\n'+Line.strip()+'\t'+str(marks))
fh_i.close()
fh_o.close()

In [2]:
n1=1
n1=1
print(n1)

1

In [5]:
fh=open('output.txt') #nothing return beause of cursor at last position we are given reading so 
#it is giving notthing because fo no data
data=fh.read()
data=fh.read()
print(data)
fh.close()

In [4]:
l=[1,2,3]
l.append(4)

#### tell and seek methods 
- to know the cursor postions

In [6]:
fh=open('output.txt')
data=fh.read()
print('i am at'tell())
data=fh.read()
print('i am at'tell())
fh.close()

SyntaxError: invalid syntax (<ipython-input-6-6add974fa4a4>, line 3)

##### fh.readline()

In [7]:
fh=open('output.txt')
data=fh.readline()
print(data)
fh.close()

name  eng phy maths	total

In [8]:
fh=open('output.txt')
data=fh.readline()
data=fh.readline()
print(data)
fh.close()

sai   80  70  60	210

#### filename.readlines()

In [9]:
fh=open('output.txt')
data=fh.readlines()
print(data)
fh.close()

['name  eng phy maths\ttotal\n', 'sai   80  70  60\t210\n', 'ravi  70  60  70\t200\n', 'raju  60  60  60\t180']

In [10]:
fh=open('output.txt')
data=fh.readline()
data=fh.readlines()
print(data)
fh.close()

['sai   80  70  60\t210\n', 'ravi  70  60  70\t200\n', 'raju  60  60  60\t180']

In [12]:
fh=open('output.txt')
data=fh.readline()
fh.write(data)
print(data)
fh.close()

UnsupportedOperation: not writable

In [1]:
s="ganga"
s[0]="a"
s

TypeError: 'str' object does not support item assignment

In [2]:
l=[1,2,3,4]
l[0]=2
l

[2, 2, 3, 4]

In [3]:
t=(1,2,3,4)
t[0]=1
t

TypeError: 'tuple' object does not support item assignment

In [6]:
l1=[1,2,3]
l.append(4)
l

[1, 2, 3, 4]

In [9]:
l=[1,2,35]
l.extend([1,2,3])
l

[1, 2, 35, 1, 2, 3]

In [12]:
l1=l.copy()

In [16]:
l1.append(4)
l1
l1.sort()
l1

[1, 1, 2, 2, 3, 4, 4, 4, 4, 35]

In [17]:
l1

[1, 1, 2, 2, 3, 4, 4, 4, 4, 35]

In [24]:
l=[1,2,7,6,3,4]
sorted(l)
l.pop(4)

3